<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ivoa.net/pdl/pdls/Pdls" 
       class = "net.ivoa.pdl.pdls.pdls.PdlsPackage"
       genModel = "model/generated/Pdls.genmodel" /> 
	
  </extension>



</plugin>
